body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: var(--base-02);
}

a {
  text-decoration: none !important;
}

.page-section {
  margin-top: 1.5rem;

  @media (min-width: 48rem) {
    margin-top: 2rem;
  }

  @media (min-width: 90rem) {
    margin-top: 3rem;
  }
}

.big-container {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.small-container {
  width: 60%;
  margin-right: auto;
  margin-left: 5%;
}

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.page-header {
  font-size: 1.5rem;

  @media (min-width: 48rem) {
    font-size: 2rem;
  }

  @media (min-width: 90rem) {
    font-size: 3rem;
  }
}

.page-sub-title {
  font-size: 1rem;

  @media (min-width: 48rem) {
    font-size: 1.25rem;
  }

  @media (min-width: 90rem) {
    font-size: 1.5rem;
  }
}

.page-title {
  font-size: 2rem;

  @media (min-width: 48rem) {
    font-size: 3rem;
  }

  @media (min-width: 90rem) {
    font-size: 4rem;
  }
}
