.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--link);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: var(--base-05);
  color: var(--base-01);
  text-align: center;
  border-radius: 0.5rem;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--base-05) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.img3{
  width: 49%;
  margin-left: 40cm;
  margin-right: 20cm;
}
