/*Работа с флексами*/

.d-flex {
  display: flex !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-md-center {
  @media (min-width: 48rem) {
    align-items: center !important;
  }
}

.align-items-lg-center {
  @media (min-width: 90rem) {
    align-items: center !important;
  }
}

.justify-content-between {
  justify-content: space-between !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-md-column {
  @media (min-width: 48rem) {
    flex-direction: column !important;
  }
}

.flex-lg-column {
  @media (min-width: 90rem) {
    flex-direction: column !important;
  }
}

.flex-row {
  flex-direction: row !important;
}

.flex-md-row {
  @media (min-width: 48rem) {
    flex-direction: row !important;
  }
}

.flex-lg-row {
  @media (min-width: 90rem) {
    flex-direction: row !important;
  }
}