/*Работа с таблицами*/
.grid-wrap {
  display: grid !important;
}

.banner-wrapper_two {
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  @media (min-width: 1440px) {
    gap: 1.5rem;
  }
}

.banner-wrapper_three {
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}